@import "katex/dist/katex.min.css";

.sl-markdown-content img {
  display: block;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
}

.sl-markdown-content table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}
